.profile-container {
  display: flex;
  flex-direction: column;
  background-color: var(--bg-white);
  border: 1px solid var(--text-gray-dark);
  width: 20rem;
  padding: 1.2rem 1rem;
}
.text-gray {
  color: var(--text-gray-dark);
  font-weight: bold;
}
.text-small {
  font-size: 0.9rem;
  padding-top: 5px;
  color: var(--text-gray-dark);
}
#dark .profile-container {
  background-color: var(--dark-bg-color);
}
#dark .text-small {
  color: gray;
}
