:root {
  --dark-text-color: rgb(239, 239, 239);
  --dark-bg-color: rgb(35, 35, 35);
  --dark-bg-container: rgb(30, 30, 30);
  --dark-gray-color: rgb(223, 223, 223);
}
html {
  background-color: #fefefe;
}
.app {
  display: flex;
  height: 100vh;
}
#light {
  background-color: #fefefe;
}
#dark {
  background-color: rgb(43, 43, 43);
}
.app-container {
  display: flex;
  margin-top: 4rem;
  padding: 1rem 7rem;
  justify-content: center;
  position: relative;
  width: 100vw;
  align-items: center;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 14px;
  }
  .app {
    padding: 0;
  }
  .app-container {
    margin-top: 4rem;
    padding: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
